{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">关于我</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <figure class="img-responsive-center">
                                <img class="img-responsive" src="{% static 'blog/img/me.jpg' %}" alt="Developer Image">
                            </figure>
<div class="entry-content">
<p>1. 基本情况简介</p>
<p>博主外号很多，江湖人称“小元子”，其他有元兄元哥元叔元爷元总等，八十年代滴酒瓶座（自嘲啦，水瓶男），弗兰岳阳人。生于普通农村家庭，独生子，身高没有170，看起来略廋（其实也不瘦啦，只是脸小而已，再怎么胖，脸不会变），皮肤略黑。</p>
<p>2. 教育背景</p>
<p>普通大学网络工程专业，上学时不认真学习本专业知识，结果去搞软件工程的活儿去了，所以毕业后一直从事软件相关工作。虽然在破旧的雁城衡阳待了4年，但毕业那么多年，对这个城市已没多少记忆了。</p>
<p>3. 工作情况&amp;规划</p>
<p>2011年出来工作，在河北石家庄的一个项目组待了一年多，是河北联通的项目，博主在里面做不起眼的报表和接口相关开发工作。因为博主一直都喜欢深圳这个城市，所以2012年的夏天辞去工作来到深圳。</p>
<p>深圳是个奇妙的城市，博主在这家公司开始了解金融行业到底是个啥玩意儿。好吧，开始介绍这家公司和工作情况，上市公司（股票代码：600446，如果炒股的话，可以关注一下，经常有惊喜哦），做证券、基金、银行、期货等金融行业软件，博主的工作范围就是做基金业务的软件实施和售前。对于基金这个东东，如果你不不太了解，举个栗子，那就是“余额宝“这个东东，其实就是一个基金，比较特殊的货币基金，是由支付宝和天弘基金共同开发，销售入口由支付宝做，后台运营和后台运作是由天弘基金做，然后呢，余额宝的运营系统是由我们公司开发的，博主的工作就跟这个类似。博主在这家公司基本上就是去各家基金公司现场跑来跑去，当然一般是给客户解决现场问题；如果有项目的话，还要做项目经理，负责项目协调和进度推动；如果实在没事了，那就回公司看文档学习新业务知识哟。</p>
<p>在这家公司待了三年多，已对自己的未来有些期望和规划。因为一直做基金方面的业务系统实施，自然最想去基金公司做IT，能进入这个金融圈对未来的发展利大于弊。先会在基金公司的IT岗位摸爬滚打四五年，然后弄好了会往trading岗位或者业务方面发展咯。现在也在留意一些机会，如果有合适的机会一定不会放过。</p>
<p>4. 兴趣爱好&amp;专长</p>
<p>博主是纯正的蓝孩纸，然后比较喜欢爱运动，篮球、羽毛球、游泳、跑步、爬山和骑自行车，算是一个运动达人。跑步的话，一直是博主的最爱，经常性的活动，去年参加了深圳的国际马拉松，半程21公里，居然跑完了。自行车也比较热爱，一有时间就会骑骑，曾经骑过东西冲两天100公里行程，但不是狂热咯。游泳其实去年才开始学，自学的，基本上可以自由泳了，但是不会蛙泳啊。还有喜欢户外活动，喜欢旅游，去过一些地方，今年内的旅游计划可能是去巴厘岛或者菲律宾长滩吧。</p>
<p>博主喜欢上了ukulele，正在学习，这个算兴趣爱好，还不会弹唱哦，慢慢培养自己的节奏感哦。</p>
<p>博主自我感觉略带文艺气质，喜欢看书，比较喜欢历史的、经济的、哲学的、外国小说的书籍，平常还会写一些东西，权当发神经。</p>
<p>曾经有一项专长，可惜没有坚持下去，以前会写一手毛笔字，算是白学了。</p>
<p>博主喜欢宠物，和室友养了两只可爱且调皮的小喵，有机会报道一下两位大爷的近况。然后如果对方要养猫狗，博主都不反对。如果要想养宠物，一定会征求对方的同意。</p>
<p>园艺爱好者，月季狗，主要种植各种月季、茉莉花和栀子花。我家有个大阳台，现种满了各种花草，欢迎随时拜访。</p>
<p>5. 性格描述</p>
<p>外向，开朗，略为乐观，内心世界比较简单。脾气这个东西，因事而异，对于比较在意的事还是会急滴，但是不会针对人，能开得玩笑啦。不喜欢记仇，不好的事很快就会忘记啦。</p>
<p>6. 情感经历</p>
<p>都不好意思说哦，上一次感情发生在大学的时候，还是初恋。大一的时候，在外兼职认识一个其他大学的妹子，然后就慢慢地在一起了，最后就分手了。然后工作后追过一些妹子，但是没有正式地谈过。</p>
<p>7. 择偶标准&amp;婚恋观</p>
<p>博主喜欢话不是特别多但是又很懂你的妹子，外在的不是重点，内涵比较重要，宽容和包容应该具备。如果在谈恋爱的过程中能彼此了解，时机成熟的话，可以谈论婚姻的事情了。博主喜欢小孩，如果对方不想要小孩，心里会过意不去的。可能是独生子的原因，从小体验够了那种孤独的滋味，喜欢家里能够热闹一点。但并不是说马上要小孩，可以等条件好了再商量，这个事可以慢慢来。</p>
<p>就这么多，如果有没说到的地方，直接指出啦。女看官们觉得博主怎么样，如果不满意，可以退货呢。</p>
            </div><!-- .entry-content -->

                            <div class="height-40px"></div>
                            <h2 class="title text-center">社交账号</h2>
                            <ul class="social">
                                <li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
                                <li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
                                <li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
                                <li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
                            </ul>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

